@media only screen and (max-width: 475px){
  body {
      margin: 0.5vh 2vw;
 }
  .nav-box h1{
      display: none;
 }
  #footer{
      width: 100%;
      max-width: 90vw;
      height: 10px;
 }
  #footer section{
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      gap: 10px;
 }
  .contact-a div{
      display: flex;
      align-items: center;
      gap: 30px;
      width: 100%;
    }
    #footer:hover{
        height: 40vh;
    }
    .contact-p{
      display: flex;
      flex-direction: column;
      justify-content: center;
 }
  .atencion-al-usuario{
      display: none;
 }
  .solteros-perfil-box {
      width: 100%;
      padding: 0px;
      margin: 0px;
 }
  .solteros-perfil-figure{
      width: 100%;
      padding: 0px;
      margin: 0px;
 }
  #historias-felices-articles{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
 }
  .parejas-figure {
      display: block;
 }
  #formularios-box input[type="text"]{
      width: 80%;
      
    }
    #formularios-box fieldset{
      width: 85vw;
 }
  label{
      max-width: 300px;
 }
  .cita-box div{
      display: none;
      flex-wrap: wrap;
 }
  #login-box {
      display: none;
     /*aqui*/
      height: 40vh;
      padding: 0px;
      margin-left: 0px;
      transform: translateX(0%);
 }
  #login-box form fieldset div {
      display: flnoneex;
      margin-top: 20px;
      background-color: transparent;
      flex-direction: column;
 }
}
