* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(246, 205, 251, 0.536);
  margin: 2vh 10vw;
  padding: 0px;
}
legend{
  text-align: left;
  background-color: transparent;
  font-size: calc(14px + 0.5vw);
}
em {
  background-color: transparent;
}
button, a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;
}
textarea, input {
  padding: 5px;
}
form {
  padding: 30px 0px;
}
input[type='radio'], input[type='checkbox'] {
  vertical-align: middle;
 /* Alinea los botones con el texto */
  margin: 0px 5px 0px 15px;
 /* Añade un pequeño espacio entre el botón y el texto */
}
#formularios-box input[type='text'] {
  width: 90%;
}
label {
  background-color: transparent;
}
li {
  list-style: none;
}
mark {
  padding: 2px 5px;
  border-radius: 10px;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.266);
  padding: 10px;
  border-radius: 20px;
  max-height: 40px;
}
.nav-img-icon {
  height: 40px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
}
.nav-img-icon:hover {
  scale: 2;
}
.nav-box div {
  display: flex;
  gap: 1vw;
}
.nav-box div button {
  background-color: transparent;
  font-size: calc(10px + 0.5vw);
  padding: 1px 3px;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.nav-box div button:hover {
  letter-spacing: 1.2px;
}
.nav-box div a {
  font-size: calc(10px + 0.5vw);
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.329);
}
#solteros-box {
  display: none;
 /*aqui*/
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.266);
}
.solteros-perfil-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 30px;
  gap: 30px;
}
.solteros-perfil-figure {
  background-color: rgba(195, 253, 255, 0.349);
  padding: 10px 10px;
  border-radius: 10px;
  width: calc(150px + 10vw);
  min-height: calc(200px + 20vw);
}
.solteros-perfil-figure h3 {
  font-size: calc(12px + 0.4vw);
}
.solteros-perfil-figure p {
  font-size: calc(12px + 0.4vw);
}
.solteros-perfil-figure q {
  font-size: calc(12px + 0.3vw);
}
.solteros-perfil-figure img {
  border-radius: 15px 35px 15px 142px;
  transition: 0.3s ease-in-out;
  width: 90%;
}
.solteros-perfil-figure img:hover {
  border-radius: 12px;
}
.solteros-profile-info {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 183, 255, 0.12);
  padding: 10px 4px;
  margin: 10px 0px;
}
.solteros-profile-description {
  position: relative;
  padding: 20px 10px;
  height: 220px;
  border-radius: 5px;
  background-color: rgba(0, 183, 255, 0.12);
}
.solteros-profile-description p, .solteros-profile-description h3 {
  text-align: left;
  text-indent: 10px;
  padding-bottom: 10px;
}
/* aunque no lo parezca, quería este efecto para el footer */
.solteros-profile-description-footer {
  background-color: rgba(255, 255, 255, 0.539);
  border-radius: 55px;
  position: absolute;
  bottom: -20px;
  height: 20px;
  padding: 10px;
  text-align: center;
  align-items: center;
}
.solteros-profile-description-footer p {
  font-size: calc(10px + 0.2vw);
  margin: 0;
  background-color: transparent;
}
.cita-box {
  border-radius: 10px;
  border: 1px dotted red;
}
/* historias felices parejas */
/* historias felices parejas */
#historias-felices-box {
  display: none;
 /*aqui*/
  text-align: center;
}
.title-section h2 {
  font-size: calc(25px + 0.6vw);
  margin: 60px 0px 10px 0px;
}
.title-section h3 {
  font-size: calc(15px + 0.3vw);
}
.title-section h2 {
  font-size: calc(25px + 0.6vw);
  margin: 60px 0px 10px 0px;
}
.parejas-figure {
  background-color: rgba(255, 221, 195, 0.349);
  padding: 10px 10px;
  border-radius: 10px;
 /* width: 35vw;
  */
  display: flex;
  margin-top: 50px;
}
.parejas-figure img {
  border-radius: 15px 35px 15px 142px;
  transition: 0.3s ease-in-out;
  width: 90%;
}
.parejas-info {
  background-color: rgba(255, 160, 160, 0.242);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.parejas-info h2 {
  font-size: calc(20px + 0.5vw);
  margin: 10px 0px;
}
.parejas-info p {
  font-size: calc(16px + 0.4vw);
  margin: 10px 0px;
}
.parejas-info section q {
  font-size: calc(12px + 0.3vw);
}
#historias-felices-articles {
  display: grid;
 /* grid-template-rows: 50px 100px;
  no necesitamos por ahora*/
  grid-template-columns: 45% 45%;
  grid-gap: 0 10%;
}
/* historias felices parejas */
/* historias felices parejas */
/* formularios */
/* formularios */
#formularios-box {
  border: 1px solid black;
  text-align: left;
  align-items: left;
  display: none;
 /*aqui*/
}
#formularios-box-frase {
  padding: 10px;
  letter-spacing: 3px;
}
#formularios-box form {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  gap: 10px;
  margin: auto;
  flex-wrap: wrap;
}
#formularios-box footer {
  position: absolute;
  bottom: 10px;
}
#formularios-box form input[type='submit']:hover, #formularios-box form input[type='reset']:hover {
  background-color: rgb(122, 122, 250);
  cursor: pointer;
}
#formularios-box fieldset {
  border: 1px solid black;
  margin-bottom: 30px;
  padding: 5px 10px;
  background: linear-gradient( to left, rgba(255, 197, 97, 0.349), rgba(234, 255, 0, 0.188), rgba(0, 0, 255, 0.095) );
}
#formularios-box fieldset label {
  display: block;
  margin: 10px 0px 5px;
  margin-left: 0;
}
.explorador-selector {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.explorador-selector label {
  display: inline-block;
 /* Asegura que el texto quede en línea con el botón */
  height: 30px;
}
#tipo_tag {
  width: 20%;
}
.star-rating {
  display: flex;
  gap: 5px;
  height: 30px;
  justify-content: space-evenly;
}
.star-rating fieldset {
  border: none;
  text-align: center;
}
.star-rating input[type='radio'] {
  display: none;
 /* Oculta los botones de radio */
}
.star-rating label {
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.star-rating label:hover {
  transform: scale(1.2);
}
.star-rating input[type='radio']:checked + label {
  color: rgb(0, 140, 255);
  border: 1px solid blue;
  border-bottom: transparent;
  border-radius: 40px;
  transform: scale(1.2);
}
/* formularios */
/* formularios */
.nav-box h1 {
  position: absolute;
  left: 50%;
  font-size: calc(20px + 0.5vw);
  animation: totleAnimation 4s linear;
  transform: translate(-50%);
  display: flex;
  letter-spacing: 5px;
  transition: 1s ease-in-out;
}
.heart-span {
  animation: opacityAnimation 4s linear;
}
.nav-box h1:hover {
  letter-spacing: 15px;
}
.nav-box h1:hover span {
  animation: growShrink 1s ease-in-out forwards;
}
.nav-box h1:not(:hover) span {
  animation: bulala 1s ease-in-out forwards;
}
.nav-box h1:hover span:nth-child(1) {
  animation-delay: 0s;
}
.nav-box h1:hover span:nth-child(2) {
  animation-delay: 0.2s;
}
.nav-box h1:hover span:nth-child(3) {
  animation-delay: 0.4s;
}
.nav-box h1:hover span:nth-child(4) {
  animation-delay: 0.6s;
}
.nav-box h1:hover span:nth-child(5) {
  animation-delay: 0.8s;
}
.nav-box h1:hover span:nth-child(6) {
  animation-delay: 1s;
}
.nav-box h1:hover span:nth-child(7) {
  animation-delay: 1.2s;
}
.nav-box h1:hover .lds-heart div {
  animation: growShrinkHeart 1s ease-in-out forwards;
  animation-delay: 1.4s;
}
.nav-box h1:hover .lds-heart div:before, .nav-box h1:hover .lds-heart div:after {
  animation: growShrinkHeart 1s ease-in-out forwards;
  animation-delay: 1.4s;
}
/* Estilo base para los botones */
.nav-box button {
  background-color: #007bff;
 /* Color de fondo inicial */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 /* Transición suave para el color */
}
/* Estilo para cuando se hace clic en el botón */
.nav-box button:active {
  background-color: red;
 /* Cambia el fondo a rojo */
  color: white;
 /* Asegura que el texto siga siendo legible */
}
/* login */
/* login */
#login-box span {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}
#login-box {
  display: block;
 /*aqui*/
  height: 40vh;
  padding: 20vh 5vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
#login-box form fieldset {
  background: linear-gradient( to left, rgb(128, 128, 128), rgb(255, 192, 192), rgb(165, 165, 247) );
  border: 1px solid black;
  padding: 20px;
}
#login-box form fieldset section, #login-box form fieldset div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: transparent;
}
#login-box form fieldset section div {
  background-color: transparent;
}
#login-box form input:hover {
  background-color: rgb(148, 148, 255);
}
#footer {
  position: fixed;
  bottom: 0;
  width: 79vw;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50px 50px 0px 0px;
  cursor: ns-resize;
  transition: 0.4s ease-in-out;
  transition-delay: 1s;
  background-color: #05376cca;
  align-items: center;
}
footer a img {
  width: 30px;
  transition: 0.7s ease-in-out;
}
footer a img:hover {
  scale: 1.2;
  transform: rotate(359deg);
}
footer a {
  width: 0px;
}
#footer:hover {
  height: 140px;
  background-color: #453d12;
  transition-delay: 0s;
}
.contact-p {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
}
.contact-a div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  width: 40%;
}
