* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  margin: 2vh 10vw;
}
button,
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.266);
  padding: 10px;
  border-radius: 20px;
  max-height: 40px;
}
.nav-img-icon{
  height: 40px;
  transition: 0.3s ease-in-out;
}
.nav-img-icon:hover{
  scale: 2;
}
.nav-box div {
  display: flex;
  gap: 40px;
}

.nav-box div button {
  background-color: transparent;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav-box div a {
  font-size: 20px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.329);
}

#solteros-box {
  display:none;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.266);
}

.solteros-perfil-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 30px;
  gap: 30px;
}

.solteros-perfil-figure {
  background-color: rgba(195, 253, 255, 0.349);
  padding: 10px 10px;
  border-radius: 10px;
  width: calc(150px + 10vw);
  min-height: calc(200px + 20vw);
}

.solteros-perfil-figure h3 {
font-size: calc(12px + 0.4vw);
}
.solteros-perfil-figure p {
font-size: calc(12px + 0.4vw);
}
.solteros-perfil-figure q {
font-size: calc(12px + 0.3vw);

}
.solteros-perfil-figure img {
  border-radius: 15px 35px 15px 142px;
transition: 0.3s ease-in-out;
  width: 90%;
}

.solteros-perfil-figure img:hover {
  border-radius: 12px;
}
.solteros-profile-info {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 183, 255, 0.12);
  padding: 10px 4px;
  margin: 10px 0px;
}

.solteros-profile-description {
  position: relative;
  padding: 20px 10px;
  height: 220px;
  border-radius: 5px;
  background-color: rgba(0, 183, 255, 0.12);
}
.solteros-profile-description p {
  text-align: left;
  text-indent: 10px;
  padding-bottom: 10px;
}
/* aunque no lo parezca, quería este efecto para el footer */
.solteros-profile-description-footer { 
  background-color: rgba(255, 255, 255, 0.539);
  border-radius: 55px;
  position: absolute;
  bottom: -20px; 
  width: 100%; 
  height: 40px;
  padding: 10px;
  text-align: center;
}
.solteros-profile-description-footer p {
  font-size: calc(10px + 0.2vw);
  margin: 0;
}


/* historias felices parejas */
/* historias felices parejas */
.historias-felices-box{
  display: none;
}
.parejas-figure {
  background-color: rgba(195, 253, 255, 0.349);
  padding: 10px 10px;
  border-radius: 10px;
  width: calc(150px + 10vw);
  min-height: calc(200px + 20vw);
}
.parejas-figure img {
  border-radius: 15px 35px 15px 142px;
transition: 0.3s ease-in-out;
  width: 90%;
}



.formularios-box{
  display: none;
}







/* corazón 1*/
/* <div class="lds-heart"><div></div></div> */
.lds-heart,
.lds-heart div,
.lds-heart div:after,
.lds-heart div:before {
  box-sizing: border-box;
}
.lds-heart {
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.lds-heart div {
  top: 28px;
  left: 2px;
  position: absolute;
  width: 16px;
  height: 16px;
  background: red;
  animation: lds-heart 5.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: red;
}
.lds-heart div:before {
  left: -12px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -12px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/* corazón 2 */

/* HTML: <div class="loader"></div> */
.loader-1 {
  width: 50px;
  aspect-ratio: 1;
  color: #dc1818;
  background: radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%)
      top left,
    radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
    linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.loader-1:after {
  content: '';
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l3 1s infinite;
}
@keyframes l3 {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* entrar a la aplicación */
/* HTML: <div class="loader"></div> */
.loader2 {
  display: inline-flex;
  gap: 10px;
}
.loader2:before,
.loader2:after {
  content: '';
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px
    no-repeat #fff;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%,
  11% {
    background-position: 35% 35%;
  }
  14%,
  36% {
    background-position: 65% 35%;
  }
  38%,
  61% {
    background-position: 65% 65%;
  }
  64%,
  86% {
    background-position: 35% 65%;
  }
  88%,
  100% {
    background-position: 35% 35%;
  }
}

.nav-box h3{
  position: absolute;
  left: 50%;  
  font-size: calc(20px + 0.5vw);
  animation: totleAnimation 4s linear;
  transform: translate(-50%);
  display: flex;
  letter-spacing: 5px;
  transition: 1s ease-in-out;
}
.heart-span{
  animation: opacityAnimation 4s linear;
}
.nav-box h3:hover {
  letter-spacing: 15px;
}
.nav-box h3:hover span{
  animation: growShrink 1s ease-in-out forwards;
}
.nav-box h3:hover span:nth-child(1) { animation-delay: 0s; } 
.nav-box h3:hover span:nth-child(2) {  animation-delay: 0.2s;} 
.nav-box h3:hover span:nth-child(3) {  animation-delay: 0.4s;} 
.nav-box h3:hover span:nth-child(4) { animation-delay: 0.6s;} 
.nav-box h3:hover span:nth-child(5) { animation-delay: 0.8s;} 
.nav-box h3:hover span:nth-child(6) {  animation-delay: 1s;} 
.nav-box h3:hover span:nth-child(7) { animation-delay: 1.2s; } 
.nav-box h3:hover .lds-heart div { animation: growShrinkHeart 1s ease-in-out forwards;  animation-delay: 1.4s; }
.nav-box h3:hover .lds-heart div:before,
.nav-box h3:hover .lds-heart div:after {
  animation: growShrinkHeart 1s ease-in-out forwards;
  animation-delay: 1.4s; 
}
@keyframes totleAnimation {
  0%{
    letter-spacing: 40px;
    transform: rotate(0deg) translateX(50%);
    color: rgb(0, 204, 255);
    margin-left: -250px;
  }
  10%{
    color: rgb(177, 0, 247);
  }
  20%{
    color: rgb(246, 255, 0);
  }
  30%{
    color: rgb(0, 217, 0);
  }
  40%{
    color: rgb(255, 0, 255);
  }
  50%{
    transform: rotate(360deg) translateX(-50%);
    color: red;
    margin-left: 0px;

  }
  80%{
    color: white;
    letter-spacing: 0px;
  }
  100%{
    letter-spacing: 5px;
    transform: rotate(360deg) translateX(-50%);

  }
}
@keyframes opacityAnimation {
  0%, 80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes growShrink {
  0% { transform: scale(1);color: black;}
  50% { transform: scale(1.5); color: rgb(230, 0, 255);}
  100% { transform: scale(1);color: black;}
}
@keyframes growShrinkHeart {
  0% { transform: scale(1); background-color: red; }
  50% { transform: scale(1.1); background-color: rgb(230, 0, 255); }
  100% { transform: scale(1); background-color: red; }
}